.Conteiner {
    width: 78%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    margin-left: 21%;
    margin-right: 79%;
  }
  
  .cabecalhos {
    width: 80%;
    height: 100px;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 80%;
    margin-bottom: 40px;
    text-align: center;
    font-size: 2rem;
    background: linear-gradient(rgb(33, 36, 41), rgb(33, 36, 41));
    padding: 10px;
    border-radius: 10px;
  }
  
  .Conteudos {
    width: 80%;
    height: auto;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 80%;
    background-color: rgb(33, 36, 41);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin: 0 auto;
  }
  
  .tabela {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(33, 36, 41);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    max-height: 600px;
    overflow-y: auto;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .janela{
    width: 80%;
    height: 600px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 80%;
    background-color: rgb(33, 36, 41);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    max-height: 600px;
    
  }
  .Posicao{
    margin-top: -77px;
    margin-right: 60%;
    margin-left: 40%;
  }
  
  .Posicao1{
    margin-top: -77px;
    margin-right: 20%;
    margin-left: 80%;
  }

  /* Adicionando media query para ajustar estilos para telas menores */
  @media (max-width: 767px) {
    .Conteiner {
        width: 78%;
        height: 2000px;
        display: flex;
        flex-direction: column;
        margin-left: 21%;
        margin-right: 79%;
    }
      
    
    .Conteudos {
      width: 100%;
      width: 80%;
        height: auto;
        margin-top: 40px;
        margin-left: 10%;
        margin-right: 80%;
      
    }
  
    .tabela {
        width: 100%;
        height: 500px;
    }
    .table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
        border-radius: 10px;
        overflow: hidden;
      }
    .janela {
      width: 80%;
    height: 500px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 80%;
    background-color: rgba(33, 36, 41);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    max-height: 600px;
    
    }
    .form-group1 {
      width: 91%;
      
    
    }
    
    .form-group3 {
      width: 50%;
      margin-left:10%;
    
    }
  }
.cor_fonte{
  color: #ffffff;
}
.flex-container{
  display: flex;
  
}

.mov{
  margin-left: 91%;
  margin-right: 9%;
  margin-top: -77PX;
  
}
.form-group1 {
  margin-left:15%;

}
.form-group2{
  width: 31%;
  margin-left:7%;
  margin-right: 93%;
}
.form-group3 {
  margin-left:34%;
  margin-right: 66%;

}